<mat-sidenav-container class="app-container">
    <mat-sidenav #drawer mode="over" [autoFocus]="false" class="app-sidenav">
        <mat-nav-list>
            <a mat-list-item routerLink="/home" (click)="drawer.close()">
                <div class="d-flex align-items-center gap-1">
                    <mat-icon>home</mat-icon>
                    Home
                </div>
            </a>
            <a mat-list-item routerLink="/docs" (click)="drawer.close()">
                <div class="d-flex align-items-center gap-1">
                    <mat-icon>help</mat-icon>
                    Docs
                </div>
            </a>
            <a mat-list-item routerLink="/about" (click)="drawer.close()">
                <div class="d-flex align-items-center gap-1">
                    <mat-icon>info</mat-icon>
                    About
                </div>
            </a>
            <a mat-list-item rel="noopener" href="https://github.com/your-username" target="_blank"
                (click)="drawer.close()">
                <img src="assets/github-mark/github-mark.png" alt="GitHub" class="icon-small menu-icon">
                <span>GitHub</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="drawer.toggle()" class="mobile-only me-2">
                <mat-icon>menu</mat-icon>
            </button>

            <span>Parallax Studio</span>
            <span class="spacer"></span>

            <nav class="desktop-only">
                <button mat-button routerLink="/home">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
                
                <button mat-button routerLink="/docs">
                    <mat-icon>help</mat-icon>
                    <span>Docs</span>
                </button>

                <button mat-button routerLink="/about">
                    <mat-icon>info</mat-icon>
                    <span>About</span>
                </button>

                <a mat-button rel="noopener" href="https://github.com/your-username" target="_blank" aria-label="GitHub"
                    class="d-flex">
                    <img src="assets/github-mark/github-mark-white.png" alt="GitHub" class="icon-small menu-icon">
                    <span>GitHub</span>
                </a>
            </nav>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>